.TopNav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: rgb(0, 255, 0);
  cursor: pointer;
  border-bottom: rgb(0, 255, 0) 1px solid;

}

.TopNav li{
  border-left: rgb(0, 255, 0) 1px solid;
  border-right: rgb(0, 255, 0) 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.TopNav .active {
  font-size: 18px;

}
